html, body{
  width: 100vw;
  right: 100vh;
  font-size: 62.5%;
}


mat-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 3rem;
  margin-top: 5rem;
}

mat-form-field {
  width: 100%;
}

.input-box {
  width: 500px;
}

.btn-box {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-box button {
  width: 50%;
}

.paginator-container {
  display: flex;
  justify-content: flex-end; 
  padding: 10px;
}

.mat-paginator {
  background-color: #f5f5f5; 
}

.mat-paginator-navigation-previous,
.mat-paginator-navigation-next {
  color: #333; 
}

.mat-paginator-range-label {
  color: #333; 
}

.mat-paginator-page-size .mat-select-value {
  color: #333; 
}